<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h2>Buscando producto</h2>
    </div>
    <div class="card-body">
      <table class="table table-hover text-center">
        <tr>
          <td>codigo</td>
          <td>
            <input
              type="text"
              placeholder="ingrese código"
              [(ngModel)]="producto.codigo"
            />
          </td>
        </tr>
        <tr>
          <td>Nombre</td>
          <td>
            <input
              type="text"
              placeholder="ingrese nombre"
              [(ngModel)]="producto.nombre"
            />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button (click)="buscarProducto()" class="btn btn-secondary">
              Buscar
            </button>
          </td>
        </tr>
      </table>

      <div class="card" *ngIf="listarRetornada == 1">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Stock</th>
              <th>Precio</th>
              <th>Categoria</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{ producto.codigo }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.stock }}</td>
              <td>{{ producto.precio }}</td>
              <td>{{ producto.categoria.nombre }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
