<div class="card-header">
  <div class="card text-center">
    <h2>
      <tr>
        <th class="col-sm">
          <label for="">Lista de facturas</label>
        </th>
        <th class="col-sm">
          <button [routerLink]="['/buscarfacturas']" class="btn btn-primary">
            Buscar
          </button>
        </th>
        <th class="col-sm">
          <button [routerLink]="['/generarfactura', 0]" class="btn btn-primary">
            Agregar
          </button>
        </th>
      </tr>
    </h2>
  </div>
</div>
<div class="card-body">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>Ruc</th>
        <th>Codigo</th>
        <th>Empleado</th>
        <th>Fecha</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factura of facturas">
        <td>
          <button class="btn btn-info" [routerLink]="['/detallefactura',factura.codigo]">
            {{ factura.codigo }}
          </button>
        </td>
        <td>{{ factura.empleado.documento }}</td>
        <td>{{ factura.empleado.nombre }}</td>
        <td>{{ factura.fecha }}</td>
        <td>
          <button
            class="btn btn-warning"
            [routerLink]="['/editarfactura', factura.codigo]"
          >
            Editar
          </button>
          <button (click)="eliminarFactura(factura.codigo)" class="btn btn-danger">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
