<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="enlace = 'ventas'" >Ventas</a>
      <a mat-list-item (click)="enlace ='clientes'">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Sistema de venta Familia Araujo</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class ="card container" *ngIf=" enlace == 'ventas'">
      <app-listar-facturas></app-listar-facturas>
    </div>
    <div class ="card container" *ngIf="enlace == 'clientes'">
      <app-listarcliente></app-listarcliente>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
