<div class="container card">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light"
    style="text-align: center;"
  >
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" (click)="pantallaListar()">Listar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Editar</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
