<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <label for=""> producto</label>
    </div>
    <div class="card-body text-center">
      <table class="table table-hover">
        <tr>
          <th>Nombre</th>
          <td>
            <input
              type="text"
              [(ngModel)]="producto.nombre"
              placeholder="ingrese el nombre"
            />
          </td>
        </tr>
        <tr>
          <th>Precio</th>
          <td>
            <input
              type="text"
              [(ngModel)]="producto.precio"
              placeholder="ingrese el precio"
            />
          </td>
        </tr>
        <tr>
          <th>Stock</th>
          <td>
            <input
              type="text"
              [(ngModel)]="producto.stock"
              placeholder="ingrese el stock"
            />
          </td>
        </tr>
        <tr>
          <th>Categoria</th>
          <td>
            <select
              name="listaCategia"
              id=""
              [(ngModel)]="categoriaSeleccionada"
            >
              <option
                [ngValue]="categoria"
                *ngFor="let categoria of categorias"
                >{{ categoria.nombre }}</option
              >
            </select>
          </td>
        </tr>
        <tr>
          <td></td>
          <td *ngIf="codigoEditar > 0; else casoContrario">
            <button (click)="editarProducto()" class="btn btn-primary">
              Editar
            </button>
          </td>
          <ng-template #casoContrario>
            <button (click)="agregarProducto()" class="btn btn-primary">
              Agregar
            </button>
          </ng-template>
        </tr>
      </table>
    </div>
  </div>
</div>
