<div class="card-header">
  <div class="card text-center">
    <h2>
      <tr>
        <th class="col-sm">
          <label for="">Lista de productos</label>
        </th>
        <th class="col-sm">
          <button [routerLink]="['/buscarproductos']" class="btn btn-primary">
            Buscar
          </button>
        </th>
        <th class="col-sm">
          <button
            [routerLink]="['/agregarproducto', 0]"
            class="btn btn-primary"
          >
            Agregar
          </button>
        </th>
      </tr>
    </h2>
  </div>
</div>
<div class="card-body">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Categoria</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.codigo }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.stock }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.categoria.nombre }}</td>
        <td>
          <button
            class="btn btn-warning"
            [routerLink]="['/editarproducto', producto.codigo]"
          >
            Editar
          </button>
          <button (click)="eliminarProducto(producto)" class="btn btn-danger">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
