<div class="container">
  <div class="card container">
    <div class="card-header">{{ accion }} persona</div>
    <div class="card-body">
      <table class="table ">
        <tr>
          <td><label for="">Nombre</label></td>
          <td>
            <input type="text" [(ngModel)]="persona.nombre" name="nombre" />
          </td>
        </tr>
        <tr>
          <td><label for="">Ap. Paterno</label></td>
          <td>
            <input
              type="text"
              [(ngModel)]="persona.apellidoPaterno"
              name="personaapaterno"
            />
          </td>
        </tr>
        <tr>
          <td><label for="">Ap. Materno</label></td>
          <td>
            <input
              type="text"
              [(ngModel)]="persona.apellidoMaterno"
              name="personaamaterno"
            />
          </td>
        </tr>
        <tr>
          <td><label for="">Telefono</label></td>
          <td>
            <input
              type="text"
              [(ngModel)]="persona.telefono"
              name="personatelefono"
            />
          </td>
        </tr>
        <tr>
          <td><label for="">Direccion</label></td>
          <td>
            <input
              type="text"
              [(ngModel)]="persona.direccion"
              name="personadireccion"
            />
          </td>
        </tr>
        <tr>
          <td><label for="">Correo</label></td>
          <td>
            <input
              type="text"
              [(ngModel)]="persona.correo"
              name="personacorreo"
            />
          </td>
        </tr>
        <tr class="text-left">
          <td></td>
          <td>
            <button
              *ngIf="cadena == 'lleno'; else elseBlock"
              (click)="update(persona)"
              class="btn btn-primary"
            >
              Actualizar
            </button>
            <ng-template #elseBlock>
              <button (click)="agregar(persona)" class="btn btn-primary">
                Agregar
              </button>
            </ng-template>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
