<nav
  class="navbar navbar-expand-lg navbar-light bg-light text-white"
  style="background-color: #e3f2fd;"
>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/listarclientes']">Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/listarproductos']">Producto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/listarempleados']">Empleado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/listarfacturas']">Ventas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
  </div>
</nav>
