<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <th>
        <label for="">Buscando empresa</label>
      </th>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <tr>
          <th>Ruc</th>
          <th>
            <input type="text" [(ngModel)]="empresa.ruc" />
          </th>
        </tr>
        <tr>
          <th>Razón social</th>
          <th>
            <input type="text" [(ngModel)]="empresa.razonSocial" />
          </th>
        </tr>
        <tr>
          <th></th>
          <th>
            <button (click)="buscar()" class="btn btn-primary">Buscar</button>
          </th>
        </tr>
      </table>

      <div class="card container" *ngIf="listaRetornada == 1">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Ruc</th>
              <th>Razón social</th>
              <th>Teléfono</th>
              <th>Dirección</th>
              <th>Correo</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empresa of empresas">
              <th>{{ empresa.codigo }}</th>
              <th>{{ empresa.ruc }}</th>
              <th>{{ empresa.razonSocial }}</th>
              <th>{{ empresa.telefono }}</th>
              <th>{{ empresa.direccion }}</th>
              <th>{{ empresa.correo }}</th>
              <th>
                <button (click)="agregar()" class="btn btn-secondary">
                  Agregar
                </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
