<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <label for=""> empleado</label>
    </div>
    <div class="card-body text-center">
      <table class="table table-hover">
        <tr>
          <th>Nombre</th>
          <td>
            <input
              type="text"
              [(ngModel)]="empleado.nombre"
              placeholder="ingrese el nombre"
            />
          </td>
        </tr>
        <tr>
          <th>Apellido paterno</th>
          <td>
            <input
              type="text"
              [(ngModel)]="empleado.apellidoPaterno"
              placeholder="ingrese el apellido paterno"
            />
          </td>
        </tr>
        <tr>
          <th>Apellido materno</th>
          <td>
            <input
              type="text"
              [(ngModel)]="empleado.apellidoMaterno"
              placeholder="ingrese el apellido materno"
            />
          </td>
        </tr>
        <tr>
          <th>Número de documento</th>
          <td>
            <input
              type="text"
              [(ngModel)]="empleado.documento"
              placeholder="ingrese el numero de documento"
            />
          </td>
        </tr>
        <tr>
          <td></td>
          <td *ngIf="codigoEditar > 0; else casoContrario">
            <button (click)="editarEmpleado()" class="btn btn-primary">
              Editar
            </button>
          </td>
          <ng-template #casoContrario>
            <button (click)="agregarEmpleado()" class="btn btn-primary">
              Agregar
            </button>
          </ng-template>
        </tr>
      </table>
    </div>
  </div>
</div>
