<div class="card-header">
    <div class="card text-center">
        <h2>
            <tr>
                <th class="col-sm">
                    <label for="">Detalle de factura con el código {{factura.codigo}}</label>
                </th>
                <th class="col-sm">
                </th>
            </tr>
        </h2>
    </div>
</div>

<div class="card-header">
    <div class="card text-center ">
        <tr>
            <th class="col-sm-2">
                <label for="">Empleado : {{empleado.nombre}}</label>
            </th>
            <th class="col-sm-2">
                <label for="">Documento : {{empleado.documento}}</label>
            </th>
        </tr>
    </div>
</div>

<div class="card-header">
    <div class="card text-center">
        <tr>
            <th class="col-sm-2">
                <label for="">Fecha de emisión : {{factura.fecha}}</label>
            </th>
            <th class="col-sm-2">
                <label for="">Monto total: {{factura.monto}}</label>
            </th>
        </tr>
    </div>
</div>

<div class="card-body">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detalle of productos">
                <td>{{ detalle.producto.codigo }}</td>
                <td>{{ detalle.producto.nombre }}</td>
                <td>{{ detalle.producto.precio }}</td>
                <td>{{ detalle.producto.categoria.nombre }}</td>
                <td>{{ detalle.cantidad }}</td>
            </tr>
        </tbody>
    </table>
</div>