<div class="container">
  <div class="card">
    <div class="card-header">
      <tr class="">
        <th class="col-md-8">
          Buscando cliente
        </th>
      </tr>
    </div>

    <div class="card-body">
      <table class="table table-hover">
        <tr>
          <th>Nombre</th>
          <th>
            <input
              type="text"
              [(ngModel)]="persona.nombre"
              placeholder="Ingrese nombre"
              name="nombre"
            />
          </th>
        </tr>
        <tr>
          <th>Apellido paterno</th>
          <th>
            <input
              type="text"
              [(ngModel)]="persona.apellidoPaterno"
              placeholder="Ingrese apellido paterno"
              name="apellidoPaterno"
            />
          </th>
        </tr>
        <tr>
          <th>Apellido materno</th>
          <th>
            <input
              type="text"
              [(ngModel)]="persona.apellidoMaterno"
              placeholder="Ingrese apellido materno"
              name="apellidoMaterno"
            />
          </th>
        </tr>
        <tr>
          <th></th>
          <th>
            <button (click)="buscar()" class="btn btn-primary">
              Buscar
            </button>
          </th>
        </tr>
      </table>

      <hr />
      <div class="card container" *ngIf="listaRetornada == 1">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Ap. Paterno</th>
              <th>Ap. Materno</th>
              <th>Telefono</th>
              <th>Direccion</th>
              <th>Correo</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let persona of personas">
              <td>{{ persona.codigo }}</td>
              <td>{{ persona.nombre }}</td>
              <td>{{ persona.apellidoPaterno }}</td>
              <td>{{ persona.apellidoMaterno }}</td>
              <td>{{ persona.telefono }}</td>
              <td>{{ persona.direccion }}</td>
              <td>{{ persona.correo }}</td>
              <td>
                <button  class="btn btn-primary">
                  Agregar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
