<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h2>Buscando empleado</h2>
    </div>
    <div class="card-body">
      <table class="table table-hover text-center">
        <tr>
          <td>codigo</td>
          <td>
            <input
              type="text"
              placeholder="ingrese código"
              [(ngModel)]="empleado.codigo"
            />
          </td>
        </tr>
        <tr>
          <td>Nombre</td>
          <td>
            <input
              type="text"
              placeholder="ingrese nombre"
              [(ngModel)]="empleado.nombre"
            />
          </td>
        </tr>
        <tr>
          <td>Ap. Paterno</td>
          <td>
            <input
              type="text"
              placeholder="ingrese apellido paterno"
              [(ngModel)]="empleado.apellidoPaterno"
            />
          </td>
        </tr>
        <tr>
          <td>Ap. Materno</td>
          <td>
            <input
              type="text"
              placeholder="ingrese apellido materno"
              [(ngModel)]="empleado.apellidoMaterno"
            />
          </td>
        </tr>
        <tr>
          <td>Numero de documento</td>
          <td>
            <input
              type="text"
              placeholder="ingrese numero de documento"
              [(ngModel)]="empleado.documento"
            />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button (click)="buscarEmpleado()" class="btn btn-secondary">
              Buscar
            </button>
          </td>
        </tr>
      </table>

      <div class="card" *ngIf="listarRetornada == 1">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Ap. Paterno</th>
              <th>Ap. Materno</th>
              <th>Documento</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empleado of empleados">
              <td>{{ empleado.codigo }}</td>
              <td>{{ empleado.nombre }}</td>
              <td>{{ empleado.apellidoPaterno }}</td>
              <td>{{ empleado.apellidoMaterno }}</td>
              <td>{{ empleado.documento }}</td>
              <td>
                <button
                  class="btn btn-primary"
                >
                  Agregar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
