<div class="card">
  <div class="card text-center">
    <h2 >
      <tr >
        <th>
          <button (click)="cambiarTipoCliente()" class="btn btn-primary">
            Cambiar tipo cliente
          </button>
        </th>
        <th class="col-sm">{{ tituloCliente }}</th>
        <th align="center" class="col-sm-1">
          <button class="btn btn-primary" (click)="agregarCliente('nulo', 0)">
            Agregar
          </button>
        </th>
        <th align="left" class="col-sm-1">
          <button class="btn btn-secondary" (click)="buscarCliente()">
            Buscar
          </button>
        </th>
      </tr>
    </h2>

    <table
      class="table table-hover text-center"
      *ngIf="tipoCliente == 1; else bloqueContrario"
    >
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Ap. Paterno</th>
          <th>Ap. Materno</th>
          <th>Telefono</th>
          <th>Direccion</th>
          <th>Correo</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personas">
          <td>{{ persona.codigo }}</td>
          <td>{{ persona.nombre }}</td>
          <td>{{ persona.apellidoPaterno }}</td>
          <td>{{ persona.apellidoMaterno }}</td>
          <td>{{ persona.telefono }}</td>
          <td>{{ persona.direccion }}</td>
          <td>{{ persona.correo }}</td>
          <td>
            <button
              (click)="agregarCliente('lleno', persona.codigo)"
              class="btn btn-info"
            >
              Editar
            </button>
            <button (click)="eliminar(persona)" class="btn btn-danger">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #bloqueContrario>
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Ruc</th>
            <th>Razon social</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Correo</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empresa of empresas">
            <td>{{ empresa.codigo }}</td>
            <td>{{ empresa.ruc }}</td>
            <td>{{ empresa.razonSocial }}</td>
            <td>{{ empresa.telefono }}</td>
            <td>{{ empresa.direccion }}</td>
            <td>{{ empresa.correo }}</td>
            <td>
              <button
                (click)="agregarCliente('lleno', empresa.codigo)"
                class="btn btn-info"
              >
                Editar
              </button>
              <button (click)="eliminar(empresa)" class="btn btn-danger">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
