<div class="card-header">
  <div class="card text-center">
    <h2>
      <tr>
        <th class="col-sm">
          <label for="">Lista de empleados</label>
        </th>
        <th class="col-sm">
          <button [routerLink]="['/buscarempleados']" class="btn btn-primary">
            Buscar
          </button>
        </th>
        <th class="col-sm">
          <button
            [routerLink]="['/agregarempleado', 0]"
            class="btn btn-primary"
          >
            Agregar
          </button>
        </th>
      </tr>
    </h2>
  </div>
</div>
<div class="card-body">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Ap. Paterno</th>
        <th>Ap. Materno</th>
        <th>N. Documento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of empleados">
        <td>{{ empleado.codigo }}</td>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.apellidoPaterno }}</td>
        <td>{{ empleado.apellidoMaterno }}</td>
        <td>{{ empleado.documento }}</td>
        <td>
          <button
            class="btn btn-warning"
            [routerLink]="['/editarempleado', empleado.codigo]"
          >
            Editar
          </button>
          <button (click)="eliminarEmpleado(empleado)" class="btn btn-danger">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
