<p>editarempresa works!</p>
<div class="container">
  <div class="card">
    <div class="card-header">
      <label for=""> empresa</label>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <tr>
          <th>Ruc</th>
          <th>
            <input type="text" [(ngModel)]="empresa.ruc" />
          </th>
        </tr>
        <tr>
          <th>Razón social</th>
          <th>
            <input type="text" [(ngModel)]="empresa.razonSocial" />
          </th>
        </tr>
        <tr>
          <th>Telefono</th>
          <th>
            <input type="text" [(ngModel)]="empresa.telefono" />
          </th>
        </tr>
        <tr>
          <th>Dirección</th>
          <th>
            <input type="text" [(ngModel)]="empresa.direccion" />
          </th>
        </tr>
        <tr>
          <th>Correo</th>
          <th>
            <input type="text" [(ngModel)]="empresa.correo" />
          </th>
        </tr>
        <tr>
          <th></th>
          <th>
            <button
              class="btn btn-primary"
              (click)="update()"
              *ngIf="cadena == 'lleno'; else elseBlock"
            >
              Actualizar
            </button>
            <ng-template #elseBlock>
              <button class="btn btn-primary" (click)="create()">
                Agregar
              </button>
            </ng-template>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
